.section {
    margin: 50px;
    margin-left: 194px;
    padding: 20px;
    background-color: #fff;
    width: 70%;
    height: 70vh;
    border-radius: 30px;
    border-radius: 30px;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.vector {
    width: 40%;
    margin-left: 320px;
    margin-top: -70px;
}

.button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 200px;
    height: 40px;
    margin-left: 430px;
    background-color: #ff4d4f;
    /* A soft red */
    color: white;
    /* White text */
    border: none;
    /* Remove border */
    padding: 10px 20px;
    /* Add some padding */
    border-radius: 8px;
    /* Rounded corners */
    font-size: 16px;
    /* Readable text size */
    cursor: pointer;
    /* Pointer cursor on hover */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Light shadow */
    transition: background-color 0.3s ease;

}

.button:hover {
    background-color: #e04344;
}

.button:active {
    transform: scale(0.97);
    /* Slight press effect */
}